<header>
  <section>
    <%= link_to "Asian Indian Women's Association of Michigan", "index.html", class: "blog-title" %> 
    <ul>
      <li><%= link_to "Home", "/" %></li>
      <li><%= link_to "About", "about.html" %></li>
      <li><%= link_to "Our Board", "board.html" %></li>
      <li><%= link_to "Events", "events.html" %></li>
      <li><a href="index.html#donate">Donate</a></li>
      <li><%= link_to "Membership", "membership.html" %></li>
    </ul>
  </section>
</header>
